<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Ce fac acum?</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>După ce ai primit acces pe platformă, primul pas ar fi să mergi pe profil pentru a completa numărul de telefon și pentru a adăuga o scurtă descriere</p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Care este următorul pas?</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <p>Dacă ți-ai completat datele atunci poți arunca o privire în ecranul 'Personal' pentru a vedea datele colegilor tăi. Este important să știi pe cine trebuie să contactezi pentru ajutor.</p>
      </mat-card-content>
  </mat-card>
  <br>
  <mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Ok, dar acum?</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <p>Acum că te-ai acomodat cu colegii poți să începi treaba. Aruncă o privire peste programări și pregătește-te! Dacă simți că ai nevoie de mai multe informații nu ezita să contactezi un coleg.</p>
      </mat-card-content>
  </mat-card>
  