<h2 mat-dialog-title>Resetează parola</h2>
<div class="mat-dialog-content"> 
<form mat-dialog-content [formGroup]="resetPasswordForm" (ngSubmit)="onSave()">
  
  <mat-form-field appearance="fill">  
    <mat-label>Parola curentă</mat-label>
    <input matInput type="password" formControlName="currentPassword">
    <mat-error *ngIf="resetPasswordForm.get('currentPassword')?.hasError('required')">
      Parola curentă este necesară
    </mat-error>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Parola nouă</mat-label>
    <input matInput type="password" formControlName="newPassword">
    <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">
      Parola nouă este necesară
    </mat-error>
    <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">
      Parola trebuie să aibă cel puțin 6 caractere
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirmă parola nouă</mat-label>
    <input matInput type="password" formControlName="confirmNewPassword">
    <mat-error *ngIf="resetPasswordForm.hasError('mismatch')">
      Parolele nu se potrivesc
    </mat-error>
  </mat-form-field>
  
</form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid">Salvează</button>
  <button mat-button (click)="onCancel()">Anulează</button>
</div>