<div class="container">
    <div class="cards">
<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> De ce am ajuns aici?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Ai ajuns aici deoarece ai încercat să te loghezi, dar contul tau este inactiv în acest moment. Ori asta, ori ți-ai uitat parola.</p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Ce fac mai departe?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Dacă ți-ai uitat parola sau abia ce ți-ai facut contul, trebuie să trimiți un mail către echipa noastră de admini sau să îi suni, iar ei te vor asista mai departe</p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Date de contact</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Dacă vrei să-i contactezi prin mail: admin&#64;flexident.ro</p>
      <p>Când trimiți mail-ul să te asiguri că atașezi un act de identitate și userul cu care te-ai înregistrat.</p>
      <p>Cealaltă variantă, prin telefon, la numărul 0761231231. Vei fi nevoit să răspunzi la câteva întrebări pentru identificare.</p>
    </mat-card-content>
  </mat-card>
</div>
  <a class="redirect-btn" [routerLink]="['/login']">Înapoi la pagina de login</a>
</div>