<h2 mat-dialog-title>Resetează parola</h2>

<form mat-dialog-content [formGroup]="resetPasswordForm" (ngSubmit)="onSave()">
  <mat-form-field appearance="fill">
    <mat-label>Selectează Utilizatorul*</mat-label>
    <mat-select formControlName="selectedUser">
      <mat-option *ngFor="let user of users" [value]="user">{{ user.username }}</mat-option>
    </mat-select>
    <mat-error *ngIf="resetPasswordForm.controls['selectedUser'].invalid">Trebuie să selectați un utilizator</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Parola Nouă*</mat-label>
    <input type="password" matInput formControlName="newPassword">
    <mat-error *ngIf="resetPasswordForm.controls['newPassword'].invalid">Parola trebuie să aibă cel puțin 6 caractere</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirmă Parola Nouă*</mat-label>
    <input type="password" matInput formControlName="confirmPassword">
    <mat-error *ngIf="resetPasswordForm.hasError('passwordMismatch')">Parolele nu se potrivesc</mat-error>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onCancel()">Anulează</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.valid">Salvează</button>
  </div>
</form>
